<div data-role="view" id="servicioExitoso" data-layout="default" data-transition="overlay:down" class="add-comment-view"
    data-model="app.AddComment">
    <div data-role="header">
        <div data-role="navbar">
            Solicitud procesada            
        </div>
    </div>
    <div class="share-form-wrp" data-role="listview" data-style="inset">
        <div class="user-avatar">
            <img data-bind="attr:{src: me.get('data').PictureUrl}" alt="styles/images/avatar.png" />
        </div>
        <h2 class="person-name" data-bind="text: me.get('data').DisplayName">Me</h2>
       
        <h3>
			RECOMENDACIONES            
        </h3>
        
        <ul>
            <li>
            	DOCUMENTACION DEL VEHICULO AL DIA, NO SE ADMITE SOBRE CUPO Y SE DEBE REALIZAR EL PAGO PREVIO AL INICIO DEL SERVICIO.
            </li>            
        </ul>
        
        <div class="user-share">
            <textarea>
            	RECIBIMOS CON ÉXITO SU SOLICITUD, BIENVENIDO A ANGEL DE RUTA. EN POCOS MINUTOS LO CONTACTAREMOS.
            </textarea>
        </div>
        
         <div data-role="footer"><p>&copy; Automas PBX: 6179388. </p></div>
        
    </div>
</div>