<div data-role="view" id="signup" data-layout="default" class="signup-view" data-model="app.Signup" data-init="app.Signup.init" data-show="app.Signup.show" data-hide="app.Signup.hide">
    <div data-role="header">
        <div data-role="navbar">
            Registrarse
            <a class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton" href="#welcome">Back</a>
        </div>
    </div>
    <form id="signUp">
        <ul>
	 		<li class="signup">
         		<a data-role="button" href="views/terminosCondiciones.html">Terminos y condiciones</a>
     		</li>
    	</ul>
        <ul id="signup-form" data-role="listview" data-style="inset">            
            <li>
                <input type="text" id="signupNombres" data-bind="value: Nombre" placeholder="Nombres" required/>
            </li>
            <li>
                <input type="text" id="signupApellidos" data-bind="value: Apellidos" placeholder="Apellidos" required/>
            </li>
            <li>
                <input type="text" id="signupCedula" data-bind="value: Cedula" placeholder="Cedula" required/>
            </li>
            <!--<li>
                <input type="text" id="signupTienes_Carro" data-bind="value: TieneCarro" placeholder="Tienes Carro?" required/>
            </li>-->
            <li>
                <input type="text" id="signupMovil" data-bind="value: Password" placeholder="Numero celular" required/>
            </li>
            <li>
                <input type="email" id="signupEmail" data-bind="value: Email" placeholder="Correo electronico" required/>
            </li>
                    
                		Fecha de nacimiento
            		
                	<li>
                		<input type="date" id="signupBirthDatePicker" data-bind="value: BirthDate" required/>
            		</li>
        </ul>
    </form>

    
    
    
    <div id="signupBtnWrp" class="signup-btn-wrp disabled">
        <a class="btn btn-signup" data-role="button" data-bind="click: signup">Registrese</a>
    </div>
</div>
