<div data-role="view" id="servicioExitoso" data-layout="default" data-transition="overlay:down" class="add-activity-view"
    >
    
    <div data-role="header">
         <div data-role="header">
        <div data-role="navbar">
            Terminos y condiciones
            <a class="nav-button nav-button-cancel" data-align="left" data-role="backbutton">Volver</a>
        </div>
    </div>
    </div>
    
    <form >
            
        <ol data-role="listview" data-style="inset">        
            <li>
            	<span class="terminosCondiciones">SUJETO A DISPONIBILIDAD OPERATIVA.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">TIEMPO DE ESPERA DEL CONDUCTOR, 15 MINUTOS.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">LA SOLICITUD DEL SERVICIO SE DEBE EFECTUAR, CON MINIMO TRES HORAS DE ANTICIPACION.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">EL SEGUROS OBLIGATORIO DEBE ESTAR VIGENTE.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">LA REVISION TECNICO MECANICA SEGÚN LA LEY, DEBE ESTAR VIGENTE.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">EL CONDUCTOR AL INICIO DEL SERVICIO REALIZARA UNA VERIFICACION DE LA DOCUMENTACION.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">LOS OBJETOS DE VALOR DEBEN SER REPORTADOS E IDENTIFICADOS AL CONDUCTOR.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">NO HAY TIEMPOS DE ESPERA INTERMEDIOS DURANTE EL RECORRIDO.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">NO SE ADMITE SOBRECUPO DE PASAJEROS.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">EL USUARIO DEBE FIRMAR EL PAZ Y SALVO QUE LE ENTRAGA EL CONDUCTOR.</span>
            </li>            
            <li>
                <span class="terminosCondiciones">LA CANCLACION DE SOLICITUD DE SERVICIO SE PUEDE HACER MINIMO CON UNA HORA DE ANTICIPACIÓN.</span>
            </li>            
        </ol> 
    </form>
</div>