    <div data-role="view" id="share" data-layout="default" class="signup-view" data-transition="overlay:down"
        data-init="app.AddServicio.init" data-show="app.AddServicio.show" data-model="app.AddServicio">
        
        <div data-role="header">
            <div data-role="navbar">
                Nuevo servicio                
                <a id="solicitarSalir" class="nav-button nav-button-back hide-text" data-align="left" data-role="backbutton">Salir</a>
                
            </div>
        </div>
        
        <div id="enterStatus" class="share-form-wrp" data-role="listview" data-style="inset">
            <div class="user-avatar">
                <img data-bind="attr:{src: me.get('data').PictureUrl}" alt="styles/images/avatar.png" />
            </div>
            <h2 class="person-name" data-bind="text: me.get('data').DisplayName">Me</h2>
        </div> 
        
            <form id="servicio">
                <div class="listTerm">   
                    <div class="titleItem" >
                        <span>Nuevo Servicio</span>                               
                    </div>    
                    <ul id="servicio-datos-vehiculo" data-role="listview" data-style="inset">            
                        <li class="select">                
                            <select id="solicitudCiudad" placeholder="Seleccione una ciudad">
                                <option>Bogotá</option>
                                <option>Medellín</option>
                                <option>Cali</option>
                                <option>Bucaramanga</option>				        
                                <option>Barranquilla</option>				        
                                <option>Pereira</option>				        
                            </select>
                        </li>                   
                        
                        <li>
                            <input type="text" id="servicioMarca" data-bind="value: Marca" placeholder="Marca" required validationMessage="El campo es requerido"/>
                        </li>                        
                        <li>
                            <input type="text" id="servicioColor" data-bind="value: Color" placeholder="Color" required validationMessage="El campo es requerido"/>
                        </li>                        
                        <li>
                            <input type="text" id="servicioPlaca" data-bind="value: Placa" placeholder="Placa" required validationMessage="El campo es requerido"/>
                        </li> 
                     
                        <div class="titleItem" >
                            <span>Datos del Servicio</span>                               
                        </div>   
                                                          
                    	<li>
                            <input type="text" id="servicioDireccionPartida" data-bind="value: Direccion" placeholder="Destino inical" required/>
                            <a id="buscarGps" data-role="detailbutton" data-rel="actionsheet" data-style="contactadd"></a>
                        </li>                        
                        <li>
                            <input type="text" id="servicioDireccionLlegada" data-bind="value: DireccionDestino" placeholder="Destino final" required validationMessage="El campo es requerido"/>
                        </li>                        
                        <li>
                            <input type="number" id="servicioNumeroParadas" data-bind="value: NoParadas" placeholder="# Paradas" min="1" max="20" required validationMessage="El campo es requerido"/>
                        </li>                        
                        <li>
                            <input type="text" id="servicioTelefonoConfirmacion" data-bind="value: Telefono" placeholder="Telefono confirmacion" required validationMessage="El campo es requerido"/>
                        </li>
                        
                    	<div class="titleItem" >
                        	<span>Fecha y Hora del Servicio</span>                               
                   		</div>   
                        
                       
                        <li>
                            <input type="date" id="servicioFechaServicio"  data-align="right" data-bind="value: FechaServicio" placeholder="Fecha del servicio" required validationMessage="El campo es requerido"/>
                        </li>
                        <li>
                            <input type="time" id="servicioHoraServicio"  placeholder="Hora del servicio" required validationMessage="El campo es requerido"/>
                        </li>
                    </ul>
                 
                <div class="clear"></div>
                    
                 <div id="servicioSolicitar" class="signup-btn-wrp disabled">
                     <a class="btn btn-signup" data-role="button" data-bind="click: solicitarServicio">Solicitar</a>
                 </div>
                
                <div class="clear">
                </div>
                    
                <div data-role="modalview" id="modalDireccionPartida" style="width: 200px; height: 200px">
                    <a data-role="button"  data-click="closeModal">Cerrar</a>
                </div>               
           
            
            <div data-role="view">  
              <ul id="actionsheet" data-role="actionsheet" data-cancel="Cerrar">
                <li><a id='buscarGps1'>Buscar por gps</a></li> 
              </ul>
            </div>
                </div></div>    
             </form>
            
